<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <div class="idek" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>{{ test.test_name }}</span>
    </div>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p class="test-failure-links">
          {% for case in test.runs %}
          <div class="case">
            <a class="test-case-link" href="{{ case.url }}">{{ case.config_string }}</a>
            <code class="error-log">{{ case.error_log }}</code>
          </div>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>

