html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure body spans the full height */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* justify-content: center; */
}

#root {
  margin: 5vh 0 0 0;
}

.test-failures {
  max-height: 200px !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.test-failures > * {
  margin: 5px;
}

.test-failure-links {
  display: flex;
  padding: .25em 0;
  line-height: 1;
  flex-direction: column;
}